::ng-deep {
    // .swal2-popup {
    //     background: #32373d !important;
    // }
    // .swal2-popup .swal2-title {
    //     color: white !important;
    // }
    .swal2-popup .swal2-input {
        font-size: 0.9em !important;
        text-align: justify !important;
        background: #f5f5f5;
        // white-space: normal !important;
    }
}