<div class="modal-workflow animated fadeIn fast" id="{{size}}" *ngIf="show">
    <div class="modal-box">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{{title}}</div>
                <div class="close-modal pointer noselect" (click)="closeModal()"><i class="fa fa-times-circle"></i></div>
            </div>
            <div class="modal-body" style="padding: 10px 10px 20px !important;">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>