<app-breadcrumb [icon]="'fa-user'" [title]="'Usuarios'" [items]="'Módulo,Admin,Usuarios'"></app-breadcrumb>
<div class="app-content-inner">
    <div class="app-content-tile">
        <div class="loading" *ngIf="loading">
            <i class="fa fa-10x fa-sync fa-pulse"></i>
        </div>
        <div class="flex-content">
            <div class="filter-content">
                <ul class="filter-inner">
                    <li class="filter-item">
                        <button type="button" class="button btn-default" *ngIf="varPermisos.crear == 1" (click)="openModal()">Crear</button>
                    </li>
                    <li class="filter-item">
                        <div class="input-group-btn">
                            <input type="search" placeholder="Buscar..." (keyup)="search($event)" (search)="clearSearch($event)">
                            <button type="button" class="button btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre Completo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let item of varhistorial; let i = index">
                            <td>{{item.usuario}}</td>
                            <td>{{item.nombre_completo}}</td>
                            <td>
                                <i class="fa fa-1m5x fa-check-circle" *ngIf="item.activo == 'S'"></i>
                                <i class="fa fa-1m5x fa-times-circle" *ngIf="item.activo == 'N'"></i>
                            </td>
                            <td class="table-buttons-action">
                                <button type="button" class="button btn-edit" (click)="editUsuario(item)" *ngIf="varPermisos.actualizar == 1">Editar</button>
                                <button type="button" class="button btn-edit" (click)="openRol(item)" *ngIf="varPermisos.crear == 1 || varPermisos.actualizar == 1">Asignar Rol</button>
                                <!--<button *ngIf="item.usuario_rol_id != 0" type="button" class="button btn-edit" (click)="openViewMenu(item)">Ver menu</button>-->
                            </td>
                        </tr>
                        <tr *ngIf="varhistorial?.length == 0">
                            <div class="dbempty">No hay datos.</div>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pagination-content">
                Registros totales: {{ varhistorial?.length }}
            </div>
        </div>
    </div>
</div>

<app-modal [title]="model.title" [show]="modal" [size]="'modal-sm'" (close)="closeModal($event)">
    <div role="body">
        <div class="inner-col">
            <div class="col col33">
                <div class="label-row">Usuario</div>
                <input type="text" [(ngModel)]="model.varUsuario.usuario">
            </div>
            <div class="col col33">
                <div class="label-row">Nombre Completo</div>
                <input type="text" [(ngModel)]="model.varUsuario.nombre_completo">
            </div>
            <div class="col col33">
                <div class="label-row">Correo Electrónico</div>
                <input type="text" [(ngModel)]="model.varUsuario.email" disabled>
            </div>
            <!-- <div class="col col33">
                <div class="label-row">Nombres</div>
                <input type="text" [(ngModel)]="model.varUsuario.nombres">
            </div>
            <div class="col col33">
                <div class="label-row">Apellidos</div>
                <input type="text" [(ngModel)]="model.varUsuario.apellidos">
            </div>
            <div class="col col33">
                <div class="label-row">Num. Identificación</div>
                <input type="number" [(ngModel)]="model.varUsuario.num_identificacion" min="0">
            </div> -->
            <div class="col col33">
                <div class="label-row">Activo</div>
                <div class="checkbox-component">
                    <label>
                        <input type="checkbox" checked="checked" [(ngModel)]="model.varUsuario.activo">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeModal(false)">Cerrar</button>
        <button *ngIf="model.tipo == 'C'" type="button" class="btn btn-blue" (click)="saveUsuario()">Guardar</button>
        <button *ngIf="model.tipo == 'U'" type="button" class="btn btn-blue" (click)="updateUsuario()">Guardar</button>
    </div>
</app-modal>

<app-modal [title]="model.title" [show]="rolModal" [size]="'modal-md-w'" (close)="closeRolModal($event)">
    <div role="body">
        <div class="inner-col">
            <div class="table-content">
                <table class="table flex-table">
                    <thead>
                        <tr>
                            <th>Rol</th>
                            <th>Módulo</th>
                            <th>Nombre Pantalla</th>
                            <th>Activo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="scroll">
                        <tr *ngFor="let rol of model.varRol; let i = index">
                            <td>
                                <input type="text" placeholder="Selecciona..." [(ngModel)]="model.varRol[i].rol" (click)="saveRolPrivilegio(i)">
                            </td>
                            <td>
                                <input disabled type="text" [(ngModel)]="model.varRol[i].modulo">
                            </td>
                            <td>
                                <input disabled type="text" [(ngModel)]="model.varRol[i].nombre_pantalla">
                            </td>
                            <td>
                                <div class="table-checkbox-component">
                                    <label>
                                        <input type="checkbox" checked="checked" [(ngModel)]="model.varRol[i].activo">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <i class="fa fa-1m5x fa-times-circle pointer noselect" style="color: black !important;" *ngIf="model.varRol[i].NuevoRegistro" (click)="deleteRol(i)"></i>
                                <i class="fa fa-1m5x fa-trash pointer noselect" style="color: red !important;" *ngIf="model.varRol[i].EliminarRegistro" (click)="eliminarRegistro(rol, i)"></i>
                            </td>
                        </tr>
                        <tr class="add_row_full">
                            <button type="button" class="button btn-blue" (click)="addRol()">Agregar</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div role="footer">
        <button type="button" class="btn btn-red" (click)="closeRolModal(false)">Cerrar</button>
        <button type="button" class="btn btn-blue" (click)="saveRol()">Guardar</button>
    </div>
</app-modal>

<!-- <app-select-big-modal [title]="'Roles'" [show]="selectModal" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectModal($event)"></app-select-big-modal> -->

<app-select-rol-modal [title]="'Roles'" [show]="selectModal" [array]="array" [arrayTemp]="array" (output)="dataform(inputform, $event)" (close)="closeSelectModal($event)"></app-select-rol-modal>